#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml

*.class

# Package Files #
*.jar
*.war
*.ear

/Project/Applet1/nbproject/private/
/Project/Lib1/nbproject/private/
/Project/WebApplication/nbproject/private/
/Project/WebApplication/build/
/Project/Applet1/dist/
/Project/Applet1/build/
/Project/Lib1/dist/
/Project/Lib1/build/
/Project/WebApplication/dist/