#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml

*.class

# Package Files #
*.jar
*.war
*.ear

/Project/Applet1/build/built-jar.properties
/Project/Lib1/build/built-jar.properties
/Project/WebApplication/build/generated/src/org/apache/jsp/index_jsp.class.smap
/Project/WebApplication/build/generated/src/org/apache/jsp/index_jsp.java
/Project/WebApplication/build/web/WEB-INF/classes/.netbeans_automatic_build
/Project/WebApplication/build/web/WEB-INF/classes/.netbeans_update_resources
/Project/WebApplication/build/web/WEB-INF/glassfish-web.xml
